{% extends "base.html.twig" %} {% block title %}
<title>Annuaire téléphonique</title>
{% endblock %}

{% block main %}
<main>
  {% for key, contact in contacts %}
  <div class="card container mb-3">
    <div class="card-body">
        <h4 class="mb-4"><i class="fa-solid fa-user"></i> {{ contact.prenom }} {{ contact.nom}}</h4>
        <p><i class="fa-solid fa-phone"></i> {{ contact.tel }}</p>
        <p><i class="fa-regular fa-envelope"></i> {{ contact.mail }}</p>
        <div class="text-center">
        <a href="modifier_contact.php?key={{ key }}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="supprimer_contact.php?key={{ key }}" class="btn btn-danger" onclick="return confirm('Voulez vous supprimer ce contact ?')"><i class="fa-solid fa-trash-can"></i></a>
        </div>
        
    
    </div>
  </div>
  {% endfor %}
</main>
{% endblock %}
